{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    {% block css %}
        <link href="{% static 'assets/cart/login/css/bootstrap.min1.css' %}" rel="stylesheet"/>
        <link href="{% static 'assets/cart/login/css/animate1.css' %}" rel="stylesheet"/>
        <link href="{% static 'assets/cart/login/css/style1.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" style="margin-top: 50px;">
            <h2>Welcome Login</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!-- Start Sign In Form -->
            <form action="/user/login/" class="fh5co-form animate-box" data-animate-effect="fadeIn" method="post">
                <h2>Login Page</h2>
                <div class="form-group">
                    <label for="username" class="sr-only">username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="input your username" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="input your password" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="remember"><input type="checkbox" name="remember" id="remember"> remember</label>
                </div>
                <div class="form-group">
                    <p>no account？ <a href="/accounts/register">go register</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="login" class="btn btn-primary">
                </div>
            </form>
            <!-- END Sign In Form -->
        </div>
    </div>
    <div class="row" style="padding-top: 60px; clear: both;">
    </div>
</div>

{% block js %}
    <script src="{% static 'assets/cart/login/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/jquery.placeholder.min.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/main.js' %}"></script>
    <script src="{% static 'js/echarts-4.2.1.js' %}"></script>
    <script src="{% static 'js/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/main.js' %}"></script>
{% endblock %}
</body>
</html>