{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block css %}
        <link href="{% static 'assets/cart/login/css/bootstrap.min1.css' %}" rel="stylesheet"/>
        <link href="{% static 'assets/cart/login/css/animate1.css' %}" rel="stylesheet"/>
        <link href="{% static 'assets/cart/login/css/style1.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row" style="position: relative; top: 200px;">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="{% static 'image/1.png' %}" alt="Free" class="img-responsive img-thumbnail">
                <div class="caption">
                    <h3>Free trial</h3>
                    <p>Free 7 Days!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <img src="{% static 'image/2.png' %}" alt="Pay" class="img-responsive img-thumbnail">
                <div class="caption">
                    <h3>Buy it!</h3>
                    <p>Only $49.99 Per Month</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% block js %}
    <script src="{% static 'assets/cart/login/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/jquery.placeholder.min.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/main.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/respond.min.js' %}"></script>
{% endblock %}
</body>
</html>