{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    {% block css %}
        <link href="{% static 'assets/cart/login/css/bootstrap.min1.css' %}" rel="stylesheet"/>
        <link href="{% static 'assets/cart/login/css/animate1.css' %}" rel="stylesheet"/>
        <link href="{% static 'assets/cart/login/css/style1.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
        <!-- Start Sign In Form -->
        <form action="/user/reg" class="fh5co-form animate-box" data-animate-effect="fadeIn" method="post">
            <h2>Welcome</h2>
            <div class="form-group">
                <div class="alert alert-success" role="alert"></div>
            </div>
            <div class="form-group">
                <label for="name" class="sr-only">username</label>
                <input type="text" class="form-control" name="username" id="name" placeholder="input your username" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="email" class="sr-only">email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="input your email" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="input your password" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="re-password" class="sr-only">confirm-password</label>
                <input type="password" class="form-control" id="re-password" placeholder="input your password again" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="remember"><input type="checkbox" id="remember"> remember</label>
            </div>
            <div class="form-group">
                <p>already register? <a href="/accounts/login">go login</a></p>
            </div>
            <div class="form-group">
                <input type="submit" value="register" class="btn btn-primary">
            </div>
        </form>
        <!-- END Sign In Form -->

    </div>
</div>

</div>

{% block js %}
    <script src="{% static 'assets/cart/login/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/jquery.placeholder.min.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/main.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'assets/cart/login/js/respond.min.js' %}"></script>
{% endblock %}
</body>
</html>